<div class="col-sm-12">
  <div class="shadow-sm p-3  bg-white rounded">
    <nav>
      <div class="nav nav-tabs tab-col3" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">최근체결내역</a>
        <a class="nav-item nav-link active show" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">미체결주문</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">실시간 체결 현황</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">체결시간</th>
              <th scope="col">체결가격</th>
              <th scope="col">체결량</th>
              <th scope="col">체결금액</th>
            </tr>
          </thead>
        </table>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 215px;"><div class="recent-trade" style="overflow: hidden; width: auto; height: 215px;">
          <table class="table  table-borderless table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-primary">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-danger">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td>0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-primary">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-danger">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
            </tbody>
          </table>
        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.3; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 204.535px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
      </div>
      <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">주문시간</th>
              <th scope="col">주문가</th>
              <th scope="col">주문량</th>
              <th scope="col">체결금액</th>
            </tr>
          </thead>
        </table>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 215px;"><div class="recent-trade" style="overflow: hidden; width: auto; height: 215px;">
          <table class="table  table-borderless table-striped table-hover">
            <tbody>
              <tr>
                <td colSpan="4" class="text-center"> 미체결 주문내역이 없습니다.</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-primary">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
            </tbody>
          </table>
        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.3; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 215px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">거래</th>
              <th scope="col">시간</th>
              <th scope="col">가격</th>
              <th scope="col">수량</th>
            </tr>
          </thead>
        </table>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 215px;"><div class="recent-trade" style="overflow: hidden; width: auto; height: 215px;">
          <table class="table  table-borderless table-striped table-hover"> 
            <tbody>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-primary">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-danger">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td>0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-primary">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
              <tr>
                <th scope="row">06.18 <em>13:18</em>	</th>
                <td class="text-danger">0.00019719	</td>
                <td>75.71568422	</td>
                <td>0.01493038</td>
              </tr>
            </tbody>
          </table>
        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.3; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 204.535px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
      </div>
    </div>
  </div>
</div>