<table>
  <thead>
    <th colspan=3>구분</th>
    <th>레벨1</th>
    <th>레벨2</th>
    <th>레벨3</th>
    <th>레벨4</th>
  </thead>

  <tbody style="text-align: center; border: 1px">
    <tr>
      <td colspan=3>인증방법</td>
      <td>이메일인증</td>
      <td>OTP인증</td>
      <td>입출금계좌인증</td>
      <td>KYC인증</td>
    </tr>
    <tr>
      <td rowspan=2>입금한도</td>
      <td colspan=2>KRW</td>
      <td>0원</td>
      <td>0원</td>
      <td colspan=2>무제한</td>
    </tr>
    <tr>
      <td colspan=2>디지털자산</td>
      <td>0원</td>
      <td colspan=3>무제한</td>
    </tr>
    
    <tr>
      <td rowspan=3>입금한도</td>
      <td rowspan=2>KRW</td>
      <td>1회</td>
      <td>0원</td>
      <td>0원</td>
      <td>20,000,000원</td>
      <td>50,000,000원</td>
    </tr>
    <tr>
      <td>1일</td>
      <td>0원</td>
      <td>0원</td>
      <td>50,000,000원</td>
      <td>200,000,000원</td>
    </tr>
    <tr>
      <td colspan=2>디지털자산</td>
      <td>0원</td>
      <td>2,000,000원</td>
      <td>100,000,000원</td>
      <td>1,000,000,000원</td>
    </tr>
  </tbody>
</table>